/*TODO tranfer file to resource*/

.highcharts-credits{
    display: none;
}
/*.subheader-content-container{*/
/*min-width: 310px;*/
/*height: 400px;*/
/*margin: 0 auto;*/
/*width: 50%;*/
/*border: 1px solid #1d7ec1;*/
/*}*/

/*/////////////////////////*/


/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		4.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Dec 12, 2015
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_FaNum_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_FaNum_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_FaNum_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_FaNum_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_FaNum_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_FaNum_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_FaNum_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_FaNum_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_FaNum_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_FaNum_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_FaNum_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_FaNum_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_FaNum_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_FaNum_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_FaNum_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_FaNum_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_FaNum_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_FaNum_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_FaNum_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_FaNum_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb_FaNum_.eot');
    src: url('../fonts/eot/IRANSansWeb_FaNum_.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_FaNum_.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_FaNum_.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_FaNum_.ttf') format('truetype');
}
a{
    text-decoration: none;
    color: inherit;
}

.rtl{

    direction: rtl !important;
    text-align: right;
}

.rtl-faNum{
    font-family: IRANSansFaNum, Tahoma;
    direction: rtl;
    text-align: right;
}
.ltr{
    direction: ltr !important;
    text-align: left;
}
.ctr{
    text-align: center;
}
.text-right{
    direction: rtl;
    text-align: right;
    display: inline-block;
}
.bold{
    font-weight: bold;
}
.cursor-pointer{
    cursor: pointer;
}
.clearfix{
    display: block;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
a.read-more-link{
    color: blue;
}
div.dataTables_wrapper {
    direction: rtl;
}
.faNum{
    font-family: IRANSansFaNum, IRANSans, Tahoma !important;
}
/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
.dataTables_wrapper .dataTables_info{
    float: right !important;
}
.dataTables_wrapper .dataTables_paginate{
    float: left !important;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
    background-position: left center !important;
}
.dataTables_info, .dataTables_wrapper .paginate_button{
    font-family: IRANSansFaNum, IRANSans, Tahoma !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, hgroup, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    font-family: inherit;
}

html.irliveplan body {
    background: #EBEFF4;
    font: 400 12px/12px IRANSans , Tahoma !important;

}
button:focus,
button:hover,
div:focus,
a:focus{
    border: none;
    outline:none;
}
.vjs-picture-in-picture-control.vjs-control.vjs-button{
    display: none;
}
.inner-container{
    background-image: linear-gradient(to bottom, white 0px, white 30px, #EBEFF4 400px);
}
.header-container{
    transform: none;
}
.header-inner-container{
    overflow: visible;
    height: 42px;
    background-image: linear-gradient(to bottom, white 0px, white 30px, #EBEFF4 400px);
    background-attachment: fixed;
}

.header-items-margin-auto{
    width: 960px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 42px;
    /*irliveplan*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.header-logo-container{
    -ms-flex-item-align: center;
    align-self: center;
}
.header-top-bar-item-container{
    padding: 0 10px;
    margin: 0 10px;
    position: relative;
    direction: rtl;
}
.transition-one-sec{
    cursor: pointer;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}
.header-inner-container .transition-one-sec:hover,
.header-inner-container .transition-one-sec:focus{
    color: #72C152;
}
.header-button:focus,
.header-button:hover{
    color: #72C152;
}

.header-link-container{
    height: 42px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 0;
    font-family: IRANSans, Tahoma;
    color: #3F484B;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
.header-top-bar-title-drop-down-container{
    position: absolute;
    top: 39px;
    z-index: 1000000;
}
.arrow-up{
    position: absolute;
    top: -12px;
    left: 94px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #72C152 transparent;
    width: 0;
    height: 0;
    margin: auto;
}
.header-top-bar-title-drop-down-items-container{
    background: white;
    width: 200px;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 3px solid #72C152;
    border-bottom-left-radius: 4.2px;
    border-bottom-right-radius: 4.2px;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
.header-top-bar-title-drop-down-section{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 9pt;
    height: 33.6px;
    line-height: 15px;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
.header-top-bar-title-drop-down-section:first-child {
    margin-top: 6px;
}
.header-top-bar-title-drop-down-section:last-child {
    margin-bottom: 6px;
}
.link-span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}
span.divider{
    display: block;
    height: 0;
    border-top: 1px dotted #D5DBE1;
    margin: 6px 0;
}

.overlay-button {
    margin: auto;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4px;
    float: left;
    background-color: #7D8F94;
    border: 1px solid #7D8F94;
    border-radius: 3px;
    line-height: 9px;
    text-decoration: none;
    font-family: IRANSANS, Tahoma;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-top-bar-title-drop-down-button-container{
    margin: 6px 0;
}
.header-top-bar-title-drop-down-button-container:last-child {
    margin-bottom: 16px;
}
.divider + .header-top-bar-title-drop-down-button-container {
    margin-top: 10px;
}
.overlay-button.enabled {
    cursor: pointer;
}
.overlay-button.primary {
    background-color: #72C152;
    border: 1px solid #72C152;
}
.blank-horizontal-divider{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.padding-margin-left-zero{
    padding-left: 0;
    margin-left: 0;
}
#header-phone-number{
    font-size: 10pt;
    font-weight: bold;
    color: #A0ADBD
}
.header-top-bar-title-drop-down-container{
    display: none !important;
}

.content-container{
    width: 960px;
    margin: auto;
}
.nav-container{
    margin: 0;
    height: 47px;
    width: 960px;
    background-color: #3F484B;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.nav-container ul{
    margin: 0;
    padding: 0 30px;
    display: block;
    height: 47px;
    padding-top: 4px;
}
.nav-container ul li{
    float: right;
    color: #FFFFFF;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-container ul li h1{
    height: 43px;
}
.nav-container ul li h1.active{
    margin: 0 10px 0 0;
    display: block;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
    background-color: #FFFFFF;
}
.nav-container ul li h1.active a {
    background-image: url('../img/nav-shapes-active.png');
    color: #72C152;
}
.nav-container ul li h1 a {
    color: #D5DBE1;
    font: 600 12px / 43px IRANSans, Tahoma;
    margin: 0;
    padding: 0 35px 0 25px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    background-image: url('../img/nav-shapes.png');
    background-repeat: no-repeat;
}
.nav-container ul li h1 a:hover, .nav-container ul li h1 a:focus {
    color: #72C152;
    background-image: url('../img/nav-shapes-active.png');
}
.nav-container ul li.pitch a {
    background-position: right -3.8%;
}
.nav-container ul li.plan a {
    background-position: right 14%;
}
.nav-container ul li.forecast a {
    background-position: right 32.3%;
}
.nav-container ul li.benchmarks a {
    background-position: right 49.8%;
}
.nav-container ul li.schedule a {
    background-position: right 67.8%;
}
.nav-container ul li.scoreboard a {
    background-position: right 85.6%;
}
.nav-container ul li.options a {
    background-position: right 103.5%;
}
.nav-container ul li.options{
    float: left;
}


.inner-content-container{
    margin: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.inner-content{
    background-color: #FFFFFF;
}
.upper-tabs-container, .lower-tabs-container{
    border-bottom: 1px solid #D5DBE1;
    width: 100%;
    background: white;
}
.upper-tabs-container ul, .lower-tabs-container ul {
    height: 44px;
    margin: 0;
    padding: 0 30px 0 30px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.tabs-menu-item{
    margin: 0 10px;
    font-weight: 600;
    color: #3F484B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}
.tabs-menu-item:hover, .tabs-menu-item:focus-within {
    border-bottom: 2px solid #7D8F94;
    cursor: pointer;
}
.tabs-menu-item.active,
.tabs-menu-item.active:hover{
    color: #72C152;
    border-bottom: 2px solid #72C152;
}
.tabs-menu-item-link-container{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: IRANSans, Tahoma;
    font-size: 12px;
}
.tabs-vertical-divider {
    pointer-events: none;
    margin: 0 2px;
    border-left: 1px solid #D5DBE1;
    height: 17px;
    -ms-flex-item-align: center;
    align-self: center;
}
.lower-tabs-container a{
    color: #7D8F94;
}

.inner-content .info-container {
    padding: 30px;
    width: 900px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.info-container .info-heading{
    height: 50px;
}
.info-heading .info-title{
    font: 400 24px/24px IRANSans, Tahoma;
    margin: 0 0 0 20px;
    float: right;
}
.info-container .forecast-header-buttons {
    float: left;
    direction: rtl;
}
.button-type-one{
    display: inline;
    background-color: transparent;
    letter-spacing: 0.4px;
    border-radius: 3px;
    border: 1px solid #D5DBE1;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #7D8F94;
    font: 600 12px/12px IRANSans, Tahoma;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: -5px 0 0 10px;
}
.button-type-one:hover {
    background: #F9F9F9;
    color: #3F484B;
    border: 1px solid #D5DBE1;
}
.button-type-one:focus{

    border: 1px solid #D5DBE1;
}
.button-type-one.toggle-button{
    padding: 10px 10px 10px 10px;
    width: 165px;
}
.button-type-one.toggle-button span{
    padding-right: 20px;
    background-image:url("../img/button-shapes.png");
    background-repeat: no-repeat;
}
.button-type-one.video{
    padding: 10px 9px 10px 10px;
    margin-left: 0;
}
.button-type-one.video span{
    background-image: url("../img/play.svg");
    background-size: 18px;
    background-position:  right;

}

.button-type-one.instructions.hidden span{
    background-position: right 1px;
}
.button-type-one.instructions.visible span{

    background-position: right -31px;
}

.info-container .subheader{
    border-radius:  3px;
    position: relative;
    font-family: IRANSans , Tahoma;
    line-height: 22px;
    margin-bottom: 20px;
}
.info-container .subheader.charts{
    background: #4C9BEE;
}
.subheader.charts .right-chart{
    display: inline-block;
    width: 75%;
}
.subheader.charts .left-chart{
    display: inline-block;
    width: 24%;
}
.info-container .subheader.instructions{
    background: #A4619F;
}
.subheader .back-right-border{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 23px;
    right: 8px;
    background-repeat: no-repeat;
    background-image: url("../img/button-shapes.png");
}
.subheader.charts .back-right-border {
    background-position: 0 -225px;
}
.subheader.instructions .back-right-border{
    background-position: 0 -193px;
}
.subheader .subheader-content-container {
    margin-right: 32px;
    padding: 21px;
    background: white;
    border-top: 1px solid #D5DBE1;
    border-left: 1px solid #D5DBE1;
    border-bottom: 1px solid #D5DBE1;
    border-radius: 0 0 0 3px;
    overflow: hidden;
}
.subheader .subheader-content-container h4{
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
.subheader-content-container p{
    font-size: 14px;
    text-justify: distribute-all-lines;
}

.details-container{
    position: relative;
}
.details-container .table-container .table{
    direction: rtl;
}
.details-container .table-container .table *:not(.faNum){
    direction: rtl;
    text-align: right;
}
.details-container .table-container .table .open-button{
    float: right;
    padding: 0;

}
.details-container .table-container .table .open-button .closed{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.navigation-stripe{
    height: 39px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D5DBE1;
}
.navigation-stripe *{
    font-family: IRANSansFaNum, Tahoma;
}
.navigation-stripe .step-link {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    color: #7D8F94;
}
.navigation-stripe .step-link.active, .navigation-stripe .step-link.active:hover {
    color: #72C152;
}
.navigation-stripe .step-link .circle {
    display: inline-block;
    margin-right: 6px;
    font-size: 9px;
    border: 2px solid;
    text-align: center;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 50%;
    border-color: #7D8F94;
}
.navigation-stripe .step-link.active .circle, .navigation-stripe .step-link.active:hover .circle {
    border-color: #72C152;
}
.navigation-stripe .step-link:hover {
    color: #3F484B;
}
.navigation-stripe .step-link:hover .circle {
    border-color: #3F484B;
}
.section {
    padding-bottom: 30px;
    width: 100%;
    direction: rtl;
}
.section ul{
    list-style: none;
}
.section .title-top {
    font-size: 15px;
    line-height: 20px;
    color: #3F484B;
    margin: 0 0 10px 0;
    font-family: IRANSans, Tahoma;
    font-weight: 700;
    text-align: right;
}
.section .max-length-input-container{
    position: relative;
}
.section .max-length-input-container .count-down-wrapper {
    position: absolute;
    font-size: 13px;
    font-family: IRANSansFaNum, Tahoma;
    top: 9px;
    text-align: center;
    color: white;
    background: #aaa;
    width: 30px;
    height: 20px;
    vertical-align: middle;
    border-radius: 4px;
    left: 5px;
}
.input-box {
    padding: 0 10px;
    font-size: 12px;
    border: 1px solid #D5DBE1;
    border-radius: 3px;
    font-family: IRANSans, Tahoma;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    height: 39px;
    line-height: 39px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;

}
.input-box-with-currency{
    padding-left: 25px;
}
.input-box.description {
    width: 100%;
    max-width: 440px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.input-box.error {
    border: 1px solid #D83405;
}
.feedback-line {
    background: transparent;
    position: relative;
    margin: 1px;
    padding: 1px;
    clear: both;
}
.feedback-line p {
    color: #D83405;
    font-family: IRANSans, Tahoma;
    font-size: 12px;
}

.modal-footer-control-container{
    direction: rtl;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.modal-footer-control-container.right{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.modal-footer-control-container.left{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.trashcan, .trashcan-confirm {
    background: url('../img/trash_bins.png') no-repeat 0 0;
    width: 18px;
    height: 21px;
    float: left;
    margin-top: 4px;

}


.trashcan:hover {
    background-position: -19px 0;
    text-decoration: none;
    cursor: pointer;
}
.trashcan-confirm{
    background-position: -38px 0px;
    float: right;
}
.trash-text-confirm{
    float: right;
    line-height: 14px;
    margin: -2px 25px 0 0;
    font-size: 11px;
    width: 110px;
    font-weight: 700;
    color: #2C2E2F;
}

.trash-text {
    visibility: hidden;
}
.trashcan:hover .trash-text {
    visibility: visible;
    text-decoration: underline;
    color: #2565C0;
    position: relative;
    font-size: 12px;
    line-height: 12px;
    top: 0;
    padding: 25px;
    font-weight: 700;
    white-space: nowrap;
}

.trash-text-confirm p{
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 14px;
    color: #2C2E2F;
}
.trash-text-confirm a {
    text-decoration: underline;
    color: #2565C0;
}
.section a, .section a:hover, .section a:visited, .modal-footer-control-container a:hover {
    text-decoration: none;
    color: #2565C0;
}

.modal-button {
    margin: 0 10px 0px 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4px;
    float: left;
    background-color: #7D8F94;
    border: 1px solid #7D8F94;
    border-radius: 3px;
    line-height: 9px;
    text-decoration: none;
    font-family: IRANSans, Tahome;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: unset !important;
    border: unset !important;
}
.modal-button.enabled {
    cursor: pointer;
}
.modal-button.disabled {
    opacity: 0.5;
}
.modal-button.primary {
    background-color: #72C152;
    border: 1px solid #72C152;
}
.modal-button:last-child {
    margin: 0;
}

.radio-buttons-list .radio-right {
    line-height: 20px;
    float: right;
    margin: 0 0 2px 20px;
}
.radio-buttons-list .radio-style {
    float: right;
    height: 12px;
    margin: 6px 0 0 5px;
    cursor: pointer;
    border-radius: 8px;
    padding: 0;
}
.radio-buttons-list .radio-right label {
    color: #2565C0;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
}
.radio-buttons-list .description {
    margin: 0 0 10px 18px;
    line-height: 18px;
    clear: both;
    font-size: 13px;
    color: #7D8F94;
}
.section .title-content {
    font-size: 13px;
    line-height: 18px;
    color: #7D8F94;
    margin: -7px 0 15px 0;
    clear: both;
}
.forecast-item-editor .radio-box {
    margin-bottom: 10px;
}
.financial-year-box {
    clear: both;
    margin: 20px 0 10px 0;
}
.forecast-item-editor .financial-year-box{
    margin: 10px 0 0 0;

}
.forecast-item-editor .financial-year-box .financial-year-box-container{
    margin: 0 -30px 26px -30px;
    padding: 0 30px;
    background: #F9F9F9;
}
.forecast-item-editor .financial-year-box .financial-year-box-wrapper{
    padding: 10px 0;
}
.financial-year-box .financial-year-box-header{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.financial-year-box .financial-year-box-header p{
    font-size: 13px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: IRANSANS, Tahoma;
    padding: 10px;

}
.financial-year-box .financial-year-box-header .financial-year-box-header-controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 210px;
}
.financial-year-box .financial-year-box-header .financial-year-box-header-controls p{
    font-weight: bold;
}
.financial-year-box .financial-year-box-header .financial-year-box-header-controls .overlay-button.primary {
    margin-right: 10px;
}
.financial-year-box .financial-year-chart-container{
    padding-right: 30px;
}
/*.financial-year-box .financial-year-input-container{*/
/*}*/
.financial-year-box .financial-year-input-container ul.labels {
    clear: both;
    margin: 10px -15px 10px 0;
    width: 1005px;
}
.financial-year-box .financial-year-input-container ul li {
    display: inline-block;
    text-align: center;
    width: 72.5px;
    /*margin: 0 0 0 8px;*/
    color: #3F484B;
    font-size: 12px;
}
.financial-year-box .financial-year-input-container ul li input{
    direction: ltr;
    text-align: left;
    font-family: IRANSansFaNum, Tahoma;
}
.financial-year-box .financial-year-input-container ul li:nth-child(2) {
    /*margin-right: -10px;*/
}


/*.financial-year-box .financial-year-input-container ul.fields li {*/
    /*display: inline;*/
/*}*/

.radio-box li.horizontal {
    float: right;
    margin-left: 20px;
}

.radio-box li label {
    cursor: pointer;
    font-size: 13px;
    line-height: 23px;
    color: #3F484B;
}
.radio-box li input {
    float: right;
    height: 12px;
    margin: 6px 0 0 5px;
    cursor: pointer;
}
.radio-box div.clear {
    width: 100%;
    clear: both;
}
.input-box-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
.input-box-wrapper span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-size: 13px;
    color: #7D8F94;

}
.input-with-dropdown .input-box-wrapper span {
    top: 1px;
}
.input-box-wrapper span.currency {
    left: 11px;
}
.forecast-item-editor input {
    margin-bottom: 0 !important;
}
.input-box.medium-cash {
    width: 140px;
}
.input-box.smallPercentage {
    width: 87px;
    padding-left: 30px;
    font-family: IRANSansFaNum, Tahoma;
}
.input-box-wrapper span.percent {
    left: 11px;
}
.input-with-dropdown .input-box, .input-with-dropdown .input-box-wrapper {
    float: right;
    height: 37px;
    line-height: 37px;
}
.input-with-dropdown span.per {
    float: right;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
}
.select-box {
    position: relative;
}
.input-with-dropdown .select-box {
    float: right;
}
.select-box {
    display: inline-block;
}
.select-box .selected-option {
    font-size: 12px;
    border: 1px solid #D5DBE1;
    border-radius: 3px;
    height: 37px;
    line-height: 37px;
    padding: 0 10px 0 26px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.select-box .selected-option .arrow {
    width: 6px;
    height: 3px;
    background: url(https://d2rdonr34l28sy.cloudfront.net/1vDdW4WVS5.png) right top no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 10px;
}
.select-box .options {
    position: absolute;
    top: 39px;
    border: 1px solid #D5DBE1;
    z-index: 10;
    max-height: 170px;
    overflow-y: auto;
}
.select-box .options.right {
    right: 0;
}
.option-div{
    height: 24px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0 5px 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:12px;
    font-family: IRANSans, Tahoma;
}
.option-div.hovered, .option-div.selected {
    background-color: #ADCDF7;
}
.input-with-dropdown .clear {
    clear: both;
}





.buttonColor{
    margin: 0 0 0 10px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4px;
    float: right;
    background-color: #72C152;
    border: 1px solid #72C152;
    border-radius: 3px;
    line-height: 12px;
    font-family: IRANSans, Tahoma;
    cursor: pointer;
}
.controls-container {
    height: 54px;
    border-bottom: 1px solid #D5DBE1;
    margin: 20px 0 20px 0;
}
.controls-container .buttonContainerRight {
    float: left;
    display: inline-block;
}
.controls-container .buttonContainerRight div {
    float: right;
    padding: 5px;
}
.controls-container .buttonContainerRight a {
    padding-right: 25px;
    background: #7D8F94 url(https://d2rdonr34l28sy.cloudfront.net/4NpseQLSn6.png) right 8px center no-repeat;
    cursor: ne-resize;
}
.buttonGray {
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.4px;
    float: right;
    background-color: #7D8F94;
    border: 1px solid #7D8F94;
    border-radius: 3px;
    line-height: 12px;
    margin: 0 10px 0 0;
    font-family: IRANSans, Tahoma;
}
.content-container label{
    font-family: IRANSans, Tahoma;
    font-size: 12px;
}
.subfooter-note {
    margin: 13px 0 0 0;
    border-radius: 3px;
    background-color: #F9F9F9;
    padding: 10px;
    float: right;
    clear: both;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 12px;
    font-weight: 600 !important;
    font-family: IRANSans, Tahoma;
}
.subfooter-note a {
    color: #2565C0;
    text-decoration: none !important;
    cursor: pointer;
}
.content-container .controlsLeft {
    height: 35px;
    margin: 20px 0 0 0;
    float: left;
}

footer{
    direction: rtl;
    width: 960px;
    margin: 0 auto;
    padding: 30px 20px 40px 0;
    height: 10px;
    font: 400 12px/12px IRANSans, Tahoma;
    text-align: right;
    color: #7D8F94;
    box-sizing: border-box;
}
footer a{
    color: #2565C0;
    cursor: pointer;
}
footer ul {
    float: left;
    list-style: none;
}
footer ul li {
    float: right;
    padding: 0 16px 0 0;
}


/*PrimeVue Styles*/
.p-treetable-tablewrapper table{
    direction: rtl;

}
.pi-chevron-right:before{
    content: "\E900";
}
.p-dropdown .p-dropdown-trigger{
    left: 0;
    right: unset;
}
.p-dropdown .p-dropdown-label{
    padding: 0.61em 0.61em 0.61em 2em;
}
.p-dropdown-panel .p-dropdown-item{
    text-align: right;
    font-family: IRANSansFaNum, Tahoma;
}
.input-with-dropdown.length-selection .p-dropdown{
    width: 8em;
    height: 37px;
    font-family: IRANSANS, Tahoma;
}
.select-box.period-selection .p-dropdown{
    width: 11em;
    height: 37px;
    font-family: IRANSANSFaNum, Tahoma;
 }
.select-box.period-selection label{
    font-family: IRANSANSFaNum, Tahoma;
}
/*PrimeVue Styles*/